nav{
	background:#594848;
	width:100%;
	height:64px;
	overflow:auto;
	position:fixed;
	top: 0px;
	left: 0px;
	box-shadow: 2px 2px 2px 2px rgba(10,10,10,0.5);
}
ul{
	margin:0;
	padding:0;
	list-style:none;
}
li{
	float:left;
}
li:hover {
	border-bottom: 4px solid black;
}
.home_ {
	color: black;
	border-bottom: 4px solid black;
	
}
nav a{
	width:120px;
	display:block;
	text-decoration:none;
	text-align:center;
	background:#594848;
	font-size:17px;
	color:white;
	padding:20px 10px;
	font-family:arial;
	font-weight: bold;
}
nav a:hover{
	color:black;
}
body {
	background-color: #333;
}
.container{
	padding: 20px 40px 40px;
	max-width:90%;
	margin:50px 30px 30px;
	background:#f2f2f2;
	overflow:auto;
	box-shadow: 10px 10px 10px 10px rgba(10,10,10,0.5);
	transition: 0.8s ease;
	border-radius:10px;
}
h1 {
	text-align:center;
	font-size:50px;
	margin-bottom: 10px;
	font-family:Helvetica;
}
table {
	font-family: arial;
	width: 100%;
	border-collapse: collapse;
	text-align:center;
	margin-bottom: 30px;
}
td, th {
  border: 1px solid #594848;
  text-align: center;
  padding: 8px;
  
}
th {
	background-color:#594848;
	color:#fff;
	border-color:#000;
}
.branch {
	text-decoration:none;
	color:#fff;
	
}

.branch:hover {
	color:#000;
	
}
.branches_list {
	display:block;
	text-decoration:none;
	font-family: arial;
	font-weight:bold;
	font-size:15px;
	background-color:#594848;
	height:40px;
	color:#fff;
	margin-bottom:10px;
}
.branches {
	display:block;
	text-decoration:none;
	padding: 10px 70px;
}
.branches:hover {
	border:none;
}
.subtitle {
	text-align:center;
	margin:5px auto 25px;
	font-family:Helvetica;
}

.gallery{
	margin:5px;
	border:1px solid #css;
	
	width:390px;
	display:inline;
}
.img {
	background-color:#f2f2f2;
	width: 290px;
	height: 290px;
	margin: 11px;
	padding: 1px;
	display:inline;
	transition: 0.4s ease;
	box-shadow: 2px 2px 2px 2px rgba(10,10,10,0.5);
	float:left;
	
}
.img:hover {
	box-shadow: 3px 3px 3px 3px #594848;
	transition: 0.1s ease;
}
div.img img {
	width: 100%;
	height: 100%;
	
}
div.img {
	
	float: left;
}
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	width: 100%;
	left:500px;
	top:20px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
}
.rate {
	display:inline;
	float:left;
}
.o {
	display:inline;
	float:left;
	width: 500px;
}
.o:hover {
	color:gold;
}